<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coding is cool</title>
	{% load static %}
	<link href="{% static 'style.css' %}" rel="stylesheet">

	{% block header %}
	{% endblock %}

</head>
	<body>

	<div class="top-bar">
		<div class="top-bar-content">
			{% include 'navbar.html'%}
		</div>
	</div>
	<div class="content">
		<div class="content-inside">
		{% block content %}

			for other pages this part is where diiferent content sits

		{% endblock %}
		</div>
	</div>

	<script src="{% static 'script.js' %}"></script>
</body>
</html>