

{% extends 'base.html' %}

{% block content %}
{{request.user}}
<!-- 
<p id="demo"></p> - summon object from attached javascript file
-->
<!-- <div class="mainbody"> -->
<p id="test"></p>
<input type="text" name="inputtext" id="inputtext" class="index"></input><br>
<button onclick="MovieAPI()">Movie API</button>
<button onclick="NumberAPI()">Number API</button>
<button onclick="CubesForDays()">Cubes</button>
<button onclick="myFunction1()">Say hi to JS</button>
<button onclick="myFunction2()">Get Back</button>

<div class="frame">
<div id="cubes"></div>
<div id="numbers"></div>
<div id="root"></div>
</div>


<!-- </div> -->

{% endblock %}
