{% extends 'base.html' %}

{% block header %}
<style>
/*html {
	background-image: url("/static/background.jpg");}
}
*/
</style>
{% endblock %}

{% block content %}
	<p id="test"></p>

	<div class="entry-form">
		<div class="entry-reason">Number - {{ number }}</div>
		<div class="entry-form-box">

			<form method="post"> {% csrf_token %}

				{{ form.fact }}	
				
			</form>
		</div>

		<div class="entry-form-second-box">
			<button class="entry-button" id="{{ id }}" class="link" onClick="DeleteFromEntry(this.id)">Delete</button>
			<button class="entry-button" id="{{ id }}" class="link" onClick="SaveFromEntry(this.id)">Save</button>
		</div>

		<div class="entry-form-third-box">
			<div class="releated-title">Releated entries</div>
				{% if final_data_count == 0 %}
					<div class="history-entry">
						<div class="entry-entry-center">...there are no releated records</div>
					</div>
				{% else %}	
					{% for item in final_data reversed %}
						<div class="history-entry">
						 	<div class="history-entry-left"><div class="inside-left" >{{ item.number }}</div>
						 	{{ item.fact|slice:"100" }}{% if item.fact|length >= 100 %}...{% endif %}</div>

						 	<div class="history-entry-right"><a href="http://{{request.get_host}}/{{ item.id }}"><div style="margin-top:auto; margin-bottom:auto;" class="link">View</div></a></div>

						 	<div class="history-entry-right"><button id="{{ item.id }}" class="link" onClick="DeleteFromMain(this.id)">Delete</button></div>
						 </div>
					{% endfor %}
				{% endif %}
		</div>
	</div>
	
	<div class="main-lower-form">
			
	</div>
{% endblock %}


